{% extends 'htmls/base.html' %}
{% load static %}

{% block About %}

    <main class="aboutSection">

        <div class="aboutFirstPart">
            <div class="imageAboutSection">
                <img src="{% static 'images/collegeImage.jpg' %}" alt="College Image">
            </div>
            <!-- <div class="imageAboutContent">
                About Us
            </div> -->
        </div>

        <div class="aboutSecondPart1">

            <div class="aboutSecondPart_1">
                <div class="aboutSecondPart_1_1">
                    <div class="aboutSecondPart_1_1_1">
                        <hr>
                    </div>
                    <div class="aboutSecondPart_1_1_2">
                        WHO WE ARE
                    </div>
                    <div class="aboutSecondPart_1_1_3">
                        <hr>
                    </div>
                </div>
                
                <div class="aboutSecondPart_1_2">

                    <p>
                        IIMT Group of Colleges was established in the year 1994. Since inception, IIMT (established under the aegis of
                        ASSOCIATION OF MANAGEMENT STUDIES) as a group has grown leaps & bounds and achieved exemplary recognition from the
                        Industry & Academia. At IIMT, we are committed to provide a value driven culture along with creating a professional
                        environment. IIMT as a group, large and diversified, imparts knowledge in the field of Engineering, Management,
                        Education, Law, Pharmacy, etc. It has highly qualified and experienced faculty members in their respective
                        functional areas. IIMT boasts of having more than 8,000 students in various courses in six colleges.
                    </p>

                    <br>

                    <p>
                        The educational group has been dedicated towards providing quality professional education through well-accredited courses, Seminars, Conferences, Guest Lectures, Industrial visits and excellent Academic facilities. We believe in an all round development of students with a strong foundation based on pillars of knowledge, intellect and values. The programs are structured to keep pace with the present dynamic and globalized scenario meeting the requirements of industry and education. We are dedicated to delivering excellence in our academic programs.
                    </p>

                </div>
            </div>

            <div class="aboutVerticalLine1">
                    
            </div>

            <div class="aboutSecondPart_2">

                

                <div class="aboutSecondPart_2_1">
                    <div class="aboutSecondPart_2_1_1">
                        <div class="aboutSecondPart_2_1_1_1">
                            <div><img src="{% static 'images/campus.png' %}" alt=""></div>
                        </div>
                        <div class="aboutSecondPart_2_1_1_2">
                            <div>
                                7+
                            </div>
                        </div>
                        <div class="aboutSecondPart_2_1_1_3">
                            <div>
                                Campuses
                            </div>
                        </div>
                    </div>
                    <div class="aboutSecondPart_2_1_2">
                        <div class="aboutSecondPart_2_1_2_1">
                            <div><img src="{% static 'images/yoee.png' %}" alt=""></div>
                        </div>
                        <div class="aboutSecondPart_2_1_2_2">
                            <div>
                                28+
                            </div>
                        </div>
                        <div class="aboutSecondPart_2_1_2_3">
                            <div>
                                Years of Educational
                            </div>
                        </div>
                        <div class="aboutSecondPart_2_1_2_4">
                            <div>
                                Experience
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </main>










{% endblock About %}